* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-flow: column;
}

.header {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    margin-bottom: 8px;
}

.header h4 {
    margin: 8px 0;
}

.calculator {
    border: 1px solid gray;
    padding: 8px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.display {
    border: 1px solid black;
    text-align: right;
    background-color: black;
}

.input {
    font-size: 60px;
    color: #FFFFFF;
    margin: 8px;
}

.key_pad {
    background-color: gray;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.pad {
    padding: 2px;
    flex: 1 1 25%;
}

button {
    width: 100%;
    height: 100%;
    font-size: 32px;
    outline: 0;
}

.num {
    background-color: lightgray;
}

.opr {
    background-color: darkgray;
}